/* All styles for your header Components live here */

.postHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.headerImage {
    height: 40px;
}

.headerTitle {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 14px;
}


.postInfo {
    color: #999;
    padding-left: 10px;
    font-size: 14px;
}

.headerContent {
    display: flex;
    flex-direction: column;
}

